@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #252836;
}
.threeBlock .ant-select-selector {
  background: #1f1d2b !important;
  color: white !important;
  border: 1px solid #393c49 !important;
  border-radius: 8px !important;
}

:where(.css-dev-only-do-not-override-1261szd)[class^="ant-select"]
  [class^="ant-select"],
:where(.css-dev-only-do-not-override-1261szd)[class*=" ant-select"]
  [class^="ant-select"],
:where(.css-dev-only-do-not-override-1261szd)[class^="ant-select"]
  [class*=" ant-select"],
:where(.css-dev-only-do-not-override-1261szd)[class*=" ant-select"]
  [class*=" ant-select"],
:where(.css-dev-only-do-not-override-1261szd)[class^="ant-select"]
  [class^="ant-select"]::after,
:where(.css-dev-only-do-not-override-1261szd)[class*=" ant-select"]
  [class^="ant-select"]::after,
:where(.css-dev-only-do-not-override-1261szd)[class^="ant-select"]
  [class*=" ant-select"]::after,
:where(.css-dev-only-do-not-override-1261szd)[class*=" ant-select"]
  [class*=" ant-select"]::after {
  background: #1f1d2b !important;
  color: white !important;
  border-radius: 8px !important;
}
:where(.css-dev-only-do-not-override-1261szd) {
  background: #1f1d2b !important;
  color: white !important;
  border-radius: 8px !important;
}
.deleteIcon:hover svg path {
  fill: #ff7ca3 !important;
}
.deleteIcon svg path {
  fill: #ea7c69 !important;
}
.SettingCategoryLink {
  transition: all 0.5s ease;
}
.SettingCategoryLink p {
  transition: all 0.5s ease;
}
.SettingCategoryLink:hover {
  transition: all 0.5s ease;
  background-color: #ea7c6942 !important;
}
.SettingCategoryLink:hover p {
  color: #ea7c69 !important;
}
