@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #252836;
}
.threeBlock .ant-select-selector{
  background: #1F1D2B!important;
  color: white!important;
  border: 1px solid #393C49!important;
  border-radius: 8px!important;
}

:where(.css-dev-only-do-not-override-1261szd)[class^="ant-select"] [class^="ant-select"], :where(.css-dev-only-do-not-override-1261szd)[class*=" ant-select"] [class^="ant-select"], :where(.css-dev-only-do-not-override-1261szd)[class^="ant-select"] [class*=" ant-select"], :where(.css-dev-only-do-not-override-1261szd)[class*=" ant-select"] [class*=" ant-select"], :where(.css-dev-only-do-not-override-1261szd)[class^="ant-select"] [class^="ant-select"]::after, :where(.css-dev-only-do-not-override-1261szd)[class*=" ant-select"] [class^="ant-select"]::after, :where(.css-dev-only-do-not-override-1261szd)[class^="ant-select"] [class*=" ant-select"]::after, :where(.css-dev-only-do-not-override-1261szd)[class*=" ant-select"] [class*=" ant-select"]::after {
  background: #1F1D2B!important;
  color: white!important;
  border-radius: 8px!important;
  
}
:where(.css-dev-only-do-not-override-1261szd){
  background: #1F1D2B!important;
  color: white!important;
  border-radius: 8px!important;
}